n8n/workflows/moodle-ingest.json
{
  "name": "Moodle-to-Vektra Automatic Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.INGEST_CRON || '*/5 * * * *' }}"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MOODLE_URL }}/webservice/rest/server.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $env.MOODLE_WS_TOKEN }}"
            },
            {
              "name": "wsfunction",
              "value": "core_course_get_courses"
            },
            {
              "name": "moodlewsrestformat",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-courses",
      "name": "Get Courses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "notes": "Fetches all courses from Moodle via Web Services API."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst courses = items.filter(item => {\n  // Skip site-level course (id=1)\n  if (item.json.id === 1) return false;\n  return true;\n});\n\nreturn courses.map(item => ({ json: item.json }));"
      },
      "id": "filter-courses",
      "name": "Filter Courses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "notes": "Filters out site course (id=1). Processes all other courses automatically."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-courses",
      "name": "Loop Courses",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        0
      ],
      "notes": "Iterates over courses one at a time."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MOODLE_URL }}/webservice/rest/server.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $env.MOODLE_WS_TOKEN }}"
            },
            {
              "name": "wsfunction",
              "value": "core_course_get_contents"
            },
            {
              "name": "courseid",
              "value": "={{ $json.id }}"
            },
            {
              "name": "moodlewsrestformat",
              "value": "json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "get-course-contents",
      "name": "Get Course Contents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        240
      ],
      "notes": "Fetches all sections, modules, and file resources for the current course."
    },
    {
      "parameters": {
        "jsCode": "const SUPPORTED_MIMES = [\n  'application/pdf',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  'application/vnd.openxmlformats-officedocument.presentationml.presentation',\n  'text/markdown'\n];\n\n// Get course info from the Loop Courses node\nconst courseItem = $('Loop Courses').item;\nconst courseId = courseItem.json.id;\nconst rawShortname = courseItem.json.shortname || `course-${courseId}`;\nconst namespace = rawShortname.toLowerCase().replace(/\\s+/g, '-');\n\nconst response = $input.first();\nconst sections = response.json.body || response.json;\n\nconst files = [];\n\nif (!Array.isArray(sections)) {\n  // API returned an error or unexpected format\n  return [{ json: { error: 'Unexpected response format', courseId, namespace, files: [] } }];\n}\n\nfor (const section of sections) {\n  if (!section.modules) continue;\n  for (const mod of section.modules) {\n    if (!mod.contents) continue;\n    for (const content of mod.contents) {\n      if (content.type !== 'file') continue;\n      if (!SUPPORTED_MIMES.includes(content.mimetype)) continue;\n\n      // Prefix filename with module ID to avoid collisions across sections\n      const uniqueFilename = `mod${mod.id}_${content.filename}`;\n\n      files.push({\n        fileurl: content.fileurl,\n        filename: content.filename,\n        uniqueFilename: uniqueFilename,\n        filesize: content.filesize,\n        timemodified: content.timemodified,\n        mimetype: content.mimetype,\n        moduleId: mod.id,\n        moduleName: mod.name,\n        sectionName: section.name,\n        courseId: courseId,\n        namespace: namespace\n      });\n    }\n  }\n}\n\nreturn [{ json: { courseId, namespace, files } }];"
      },
      "id": "extract-files",
      "name": "Extract Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        240
      ],
      "notes": "Parses course contents response, extracts downloadable files with supported MIME types, normalizes namespace from course shortname."
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.courseFiles) {\n  staticData.courseFiles = {};\n}\n\nconst input = $input.first().json;\nconst namespace = input.namespace;\nconst courseId = input.courseId;\nconst currentFiles = input.files || [];\n\nconst storedFiles = staticData.courseFiles[namespace] || {};\n\nconst toIngest = [];    // new or updated files\nconst toDelete = [];    // removed files\nconst unchanged = [];   // no change\n\n// Build set of current file URLs for removal detection\nconst currentFileUrls = new Set(currentFiles.map(f => f.fileurl));\n\n// Check each current file against stored state\nfor (const file of currentFiles) {\n  const stored = storedFiles[file.fileurl];\n  if (!stored) {\n    // New file\n    toIngest.push({ ...file, action: 'new' });\n  } else if (stored.timemodified !== file.timemodified) {\n    // Updated file\n    toIngest.push({ ...file, action: 'updated', old_document_id: stored.document_id });\n  } else {\n    unchanged.push({ ...file, action: 'unchanged' });\n  }\n}\n\n// Check for removed files (in state but not in current contents)\nfor (const [fileurl, stored] of Object.entries(storedFiles)) {\n  if (!currentFileUrls.has(fileurl)) {\n    toDelete.push({\n      fileurl,\n      filename: stored.filename,\n      document_id: stored.document_id,\n      namespace,\n      action: 'removed'\n    });\n  }\n}\n\nreturn [{\n  json: {\n    courseId,\n    namespace,\n    toIngest,\n    toDelete,\n    unchanged,\n    summary: {\n      new: toIngest.filter(f => f.action === 'new').length,\n      updated: toIngest.filter(f => f.action === 'updated').length,\n      removed: toDelete.length,\n      unchanged: unchanged.length\n    }\n  }\n}];"
      },
      "id": "dedup-diff",
      "name": "Dedup & Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        240
      ],
      "notes": "Compares current Moodle files against stored state in workflow static data. Classifies files as new, updated, removed, or unchanged."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-deletions",
              "leftValue": "={{ $json.toDelete.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-deletions",
      "name": "Has Deletions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        240
      ],
      "notes": "Checks if there are files to delete from Vektra (removed from Moodle)."
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst namespace = input.namespace;\nconst toDelete = input.toDelete || [];\n\nconst results = [];\n\nfor (const file of toDelete) {\n  if (file.document_id) {\n    results.push({\n      json: {\n        document_id: file.document_id,\n        namespace: file.namespace || namespace,\n        filename: file.filename,\n        fileurl: file.fileurl\n      }\n    });\n  }\n\n  // Remove from state\n  if (staticData.courseFiles && staticData.courseFiles[namespace]) {\n    delete staticData.courseFiles[namespace][file.fileurl];\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { message: 'No documents to delete', namespace } }];\n}\n\nreturn results;"
      },
      "id": "prepare-deletions",
      "name": "Prepare Deletions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        80
      ],
      "notes": "Prepares deletion payloads and removes entries from static data state."
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.VEKTRA_API_URL }}/api/v1/documents/batch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"document_ids\": [\"{{ $json.document_id }}\"],\n  \"namespace\": \"{{ $json.namespace }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "delete-removed",
      "name": "DELETE Removed Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Vektra Auth"
        }
      },
      "notes": "Calls DELETE /api/v1/documents/batch to remove documents that no longer exist in Moodle. Requires admin scope."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-ingestions",
              "leftValue": "={{ $('Dedup & Diff').item.json.toIngest.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-ingestions",
      "name": "Has Ingestions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        480
      ],
      "notes": "Checks if there are new or updated files to ingest."
    },
    {
      "parameters": {
        "jsCode": "// Process all files for this course: download from Moodle, upload to Vektra\nconst input = $('Dedup & Diff').item.json;\nconst toIngest = input.toIngest || [];\nconst namespace = input.namespace;\nconst courseId = input.courseId;\n\nconst MOODLE_WS_TOKEN = $env.MOODLE_WS_TOKEN;\nconst VEKTRA_API_URL = $env.VEKTRA_API_URL;\nconst VEKTRA_API_KEY = $env.VEKTRA_API_KEY;\nconst authHeader = { Authorization: `Bearer ${VEKTRA_API_KEY}` };\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.courseFiles) staticData.courseFiles = {};\nif (!staticData.courseFiles[namespace]) staticData.courseFiles[namespace] = {};\n\nconst results = [];\n\nfor (const file of toIngest) {\n  const uniqueFilename = `mod${file.moduleId}_${file.filename}`;\n  try {\n    // Step 1: If updated file, delete old version first\n    if (file.action === 'updated' && file.old_document_id) {\n      await this.helpers.httpRequest({\n        method: 'DELETE',\n        url: `${VEKTRA_API_URL}/api/v1/documents/batch`,\n        body: { document_ids: [file.old_document_id], namespace },\n        headers: { 'Content-Type': 'application/json', ...authHeader },\n      });\n    }\n\n    // Step 2: Download file from Moodle\n    const separator = file.fileurl.includes('?') ? '&' : '?';\n    const downloadUrl = `${file.fileurl}${separator}token=${MOODLE_WS_TOKEN}`;\n    const fileBuffer = await this.helpers.httpRequest({\n      method: 'GET',\n      url: downloadUrl,\n      encoding: 'arraybuffer',\n      returnFullResponse: true,\n    });\n\n    const contentType = fileBuffer.headers?.['content-type'] || '';\n    if (contentType.includes('application/json')) {\n      const errorBody = Buffer.from(fileBuffer.body).toString();\n      results.push({ file_name: uniqueFilename, namespace, courseId, action: file.action, status: 'failed', document_id: null, chunk_count: 0, error: 'Download failed: ' + errorBody.substring(0, 100) });\n      continue;\n    }\n\n    // Step 3: Upload to Vektra (manual multipart/form-data)\n    const boundary = '----n8nBoundary' + Date.now();\n    const fileData = Buffer.from(fileBuffer.body);\n    const header = `--${boundary}\\r\\nContent-Disposition: form-data; name=\"file\"; filename=\"${uniqueFilename}\"\\r\\nContent-Type: ${file.mimetype}\\r\\n\\r\\n`;\n    const footer = `\\r\\n--${boundary}--\\r\\n`;\n    const multipartBody = Buffer.concat([Buffer.from(header), fileData, Buffer.from(footer)]);\n\n    const ingestResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${VEKTRA_API_URL}/api/v1/ingest?namespace=${encodeURIComponent(namespace)}`,\n      body: multipartBody,\n      headers: { 'Content-Type': `multipart/form-data; boundary=${boundary}`, ...authHeader },\n      returnFullResponse: true,\n    });\n\n    const statusCode = ingestResponse.statusCode;\n    const body = typeof ingestResponse.body === 'string' ? JSON.parse(ingestResponse.body) : ingestResponse.body;\n    const documentId = body.document_id || null;\n    const rawStatus = body.status || (statusCode >= 200 && statusCode < 300 ? 'completed' : 'failed');\n    const status = (['new', 'exists', 'alias'].includes(rawStatus) && documentId) ? 'completed' : rawStatus;\n    const chunkCount = body.chunk_count || 0;\n    const error = body.detail?.error?.message || body.error?.message || null;\n\n    // Step 4: Handle async (202) — poll for completion\n    if (statusCode === 202 && body.job_id) {\n      let pollStatus = 'processing';\n      let pollCount = 0;\n      while (pollStatus === 'processing' && pollCount < 60) {\n        await new Promise(resolve => setTimeout(resolve, 5000));\n        const pollResp = await this.helpers.httpRequest({\n          method: 'GET',\n          url: `${VEKTRA_API_URL}/api/v1/ingest/jobs/${body.job_id}/status`,\n          headers: authHeader,\n          returnFullResponse: true,\n        });\n        const pollBody = typeof pollResp.body === 'string' ? JSON.parse(pollResp.body) : pollResp.body;\n        pollStatus = pollBody.status;\n        pollCount++;\n      }\n    }\n\n    // Step 5: Update state\n    if (documentId && status === 'completed') {\n      staticData.courseFiles[namespace][file.fileurl] = {\n        timemodified: file.timemodified,\n        document_id: documentId,\n        filename: uniqueFilename,\n        last_synced: new Date().toISOString()\n      };\n    }\n\n    results.push({ file_name: uniqueFilename, namespace, courseId, action: file.action, status, document_id: documentId, chunk_count: chunkCount, error });\n  } catch (e) {\n    results.push({ file_name: uniqueFilename, namespace, courseId, action: file.action, status: 'failed', document_id: null, chunk_count: 0, error: e.message?.substring(0, 200) });\n  }\n}\n\nreturn [{ json: { courseResults: results, resultCount: results.length } }];"
      },
      "id": "ingest-files",
      "name": "Ingest Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        480
      ],
      "notes": "Downloads files from Moodle and uploads to Vektra sequentially. Handles update (delete old + re-ingest), async polling, and state tracking. Returns aggregated results as a single item."
    },
    {
      "parameters": {
        "jsCode": "// Merge results from all courses\n// Each input item has { courseResults: [...] } from Aggregate Results\nconst items = $input.all();\n\nlet totalNew = 0;\nlet totalUpdated = 0;\nlet totalRemoved = 0;\nlet totalUnchanged = 0;\nlet totalFailed = 0;\nconst details = [];\n\nfor (const item of items) {\n  const results = item.json.courseResults || [item.json];\n  for (const d of results) {\n    if (d.action === 'new' && (d.status === 'completed' || d.status === 'new')) totalNew++;\n    else if (d.action === 'updated' && (d.status === 'completed' || d.status === 'new')) totalUpdated++;\n    else if (d.action === 'removed') totalRemoved++;\n    else if (d.action === 'unchanged' || d.status === 'skipped') totalUnchanged++;\n    else if (d.status === 'failed' || d.status === 'timeout') totalFailed++;\n\n    if (d.file_name || d.filename) {\n      details.push({\n        file: d.file_name || d.filename,\n        namespace: d.namespace,\n        action: d.action || 'unknown',\n        status: d.status || 'n/a',\n        document_id: d.document_id || null,\n        error: d.error || null\n      });\n    }\n  }\n}\n\nconst summary = `Sync complete: ${totalNew} new, ${totalUpdated} updated, ${totalRemoved} removed, ${totalUnchanged} unchanged, ${totalFailed} failed`;\n\nconsole.log(summary);\n\nreturn [{\n  json: {\n    summary,\n    totals: { new: totalNew, updated: totalUpdated, removed: totalRemoved, unchanged: totalUnchanged, failed: totalFailed },\n    details\n  }\n}];"
      },
      "id": "ingestion-summary",
      "name": "Ingestion Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        0
      ],
      "notes": "Aggregates results from all courses and produces a summary."
    },
    {
      "parameters": {
        "jsCode": "// No files to ingest for this course — return single aggregated item\nconst input = $('Dedup & Diff').item.json;\nconst unchangedFiles = (input.unchanged || []).map(f => ({\n  file_name: f.uniqueFilename || f.filename,\n  namespace: input.namespace,\n  courseId: input.courseId,\n  action: 'unchanged',\n  status: 'skipped'\n}));\n\nreturn [{ json: { courseResults: unchangedFiles, resultCount: unchangedFiles.length } }];"
      },
      "id": "no-changes",
      "name": "No Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        720
      ],
      "notes": "Passes through unchanged file info when there is nothing to ingest."
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Courses": {
      "main": [
        [
          {
            "node": "Filter Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Courses": {
      "main": [
        [
          {
            "node": "Loop Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Courses": {
      "main": [
        [
          {
            "node": "Ingestion Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Course Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Course Contents": {
      "main": [
        [
          {
            "node": "Extract Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Files": {
      "main": [
        [
          {
            "node": "Dedup & Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup & Diff": {
      "main": [
        [
          {
            "node": "Has Deletions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Deletions?": {
      "main": [
        [
          {
            "node": "Prepare Deletions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Ingestions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deletions": {
      "main": [
        [
          {
            "node": "DELETE Removed Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Removed Docs": {
      "main": [
        [
          {
            "node": "Has Ingestions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Ingestions?": {
      "main": [
        [
          {
            "node": "Ingest Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Files": {
      "main": [
        [
          {
            "node": "Loop Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes": {
      "main": [
        [
          {
            "node": "Loop Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}